<div class="container-fluid" style="  border-top: 2px solid rgb(220, 218, 219);"></div>
    <div class="container-fluid footer-1">
      <footer>
        <div class="container">
          <div class="row footer-btm">
            <div class="col-md-3">
              <div class="heading">ABOUT</div>
              <div class="footer-img"><%= image_tag("durable-store.png", :class => "img-responsive") %></div>
              <p class="about-durable">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque.</p>
            </div>
            <div class="col-md-3">
              <div class="heading">POLICY & PROCEDURE</div>
              <div class="footer-links">
                <ul class="list-unstyled">
                  <li><%= link_to "Cancellations", 'faq', :class=>"color-a" %></li>
                  <li><%= link_to "Exchange", 'faq', :class=>"color-a" %></li>
                  <li><%= link_to "Discount", 'helpcentre', :class=>"color-a" %></li>
                  <li><%= link_to "Shipping", 'helpcentre', :class=>"color-a" %></li>
                  <li><%= link_to "Disclaim", 'helpcentre', :class=>"color-a" %></li>
                  <li><%= link_to "Contact", 'helpcentre', :class=>"color-a" %></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="heading">PAYMENT OPTIONS</div>
              <div class="footer-links">
                <ul class="list-unstyled">
                  <li>Net Banking</li>
                  <li>Credit / Debit Card</li>
                  <li>Cash / Cheque</li>
                  <li>EMI</li>
                  <li>Contact Us</li>
                  <li>COD</li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="heading"></div>
                <div class="social">
                  <div class="col-md-2 pull-right" style="width:100%;"><%= image_tag("cards.png", :class => "img-responsive") %>
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-10">
              <p>&copy; All Right Reserved by Durable Store</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
